<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ваши встречи</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">

</head>
<body>
<a href="#" th:href="@{/}" class="button-5">Вернутся</button></a>
<div class="wrapper2">
    <h1>Ваши встречи</h1>
    <table >
        <thead>
        <tr>
            <th scope="col" style="width: 4%">Название встречи</th>
            <th scope="col" style="width: 4%">Переговорка</th>
            <th scope="col" style="width: 15%" >Дата и время</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meeting, iterator: ${meetings}" >
            <td> <a th:href="@{'/meeting/' + ${meeting.id}}" th:text="${meeting.title}" th:target="_blank"></a></td>
            <td th:text="${meeting.room.name}"> </td>
            <td th:text="${meeting.starttime} + ' - ' + ${meeting.endtime}"> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>