<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
</head>
<body>
<div class="wrapper">
<h1><p th:text="|Привет, ${name}!|" /></h1>
    <a href="#" th:href="@{/week/}" class="button-5">Календарь переговорок</button></a>
    <a href="#" th:href="@{/}" class="button-5">Ваши встречи</button></a>
    <a href="#" th:href="@{/logout}" class="button-5">Выйти</button></a>
    <div sec:authorize="hasRole('ADMIN')" >
        <h1>Зона админа</h1>
    <a th:href="@{/admin/rooms}" class="button-5">Редактор комнат</a>
    </div>
</div>
</body>
</html>