<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Встреча</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
</head>
<body>
<div class="wrapper">

<a href="#" th:href="@{/week/}" class="button-5">Обратно к календарю</button></a>
<br>
    <br>
<span th:text="'Название: ' + ${meeting.title}" > </span>
<br>
<span th:text="'Создатель: ' + ${meeting.creator.FIO}" > </span>
<br>
<span th:text="'Переговорка: ' + ${meeting.room.name}"></span>
<br>
<span th:text="'Время: ' + ${meeting.starttime} + '—' + ${meeting.endtime}"></span>
<br>

<div th:if="${!#lists.isEmpty(meeting.guests)}">
    <span >Приглашенные сотрудники:</span>
    <br>
    <div  th:each="guest : ${meeting.guests}">
        <span th:text="${guest.FIO}"></span>
    </div>
</div>
</div>
</body>
</html>