<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Обновление комнаты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
</head>
<body>
<div class="wrapper">
<!--  th:action="@{/admin/rooms/{id}(id=${id})}"-->
    <h1>Переговорка</h1>
  <form action="#" th:action="@{/admin/rooms/{id}(id=${id})}" th:object="${room}" method="post" enctype="multipart/form-data">

      <label for="name" >Название</label>
      <input type="text"  id="name" th:field="${room.name}" required="true">


      <label for="description" style="margin-top: 10px">Описание</label>
      <input type="text"  id="description" th:field="${room.description}" required="true">


      <button class="button-5" type="submit" style="margin-top: 10px" >
                <span th:if="${id == null}">
                    <i></i> Добавить
                </span>
        <span th:if="${id != null}">
                    <i  aria-hidden="true"></i> Сохранить
                </span>
      </button>
      <br>
      <a th:href="@{/admin/rooms}" class="button-5">
        Назад
      </a>

  </form>
</div>
</body>
</html>