<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактор комнат</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
</head>
<body>

    <h1>Создание, редактирование и удаление переговорок </h1>
    <a href="#" th:href="@{/}" class="button-5">Вернутся</button></a>
    <a href="#" th:href="@{/admin/rooms/room-update}" class="button-5">Добавить</button></a>
    <div>
        <table >
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Редактировать комнату </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rooms, iterator: ${rooms}" >
                <td th:text="${rooms.name}" style="width: 20%"/>
                <td th:text="${rooms.description}" style="width: 25%">
                <td style="padding-left: 150px">

                    <a href="#" th:href="@{/admin/rooms/room-update/{id}(id=${rooms.id})}" class="button-5">Редактировать</button></a>
                <a href="#" th:href="@{/admin/rooms/delete/{id}(id=${rooms.id})}" class="button-5" th:attr="onclick=|return confirm('Удалить комнату?')|" >Удалить</button></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>