<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="${weekday.startend}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/week.css" type="text/css">
</head>
<body>
<h1 th:text="${weekday.startend}"></h1>
<a href="#" th:href="@{/}" class="button-5">Вернутся</button></a>
<form class="back_col_class">
<input  type="date" name="date" class="button-6">
    <button type="submit" class="button-6">Перейти</button>
</form>
<br>
<div>
    <a href="#" th:href="@{|/week/${weeknumber - 1}|}" class="button-5">←Назад</button></a>
    <a href="#" th:href="@{|/week/${weeknumber + 1}|}" class="button-5">Вперед→</button></a>
</div>
<div >
    <table >
        <thead>
        <tr>
            <th scope="col" style="width: 2%"> </th>
            <th scope="col" style="width: 14%">Понедельник <br><span th:text="${weekday.Monday}"></span></th>
            <th scope="col" style="width: 14%">Вторник <br><span th:text="${weekday.Tuesday}"></span></th>
            <th scope="col" style="width: 14%">Среда <br><span th:text="${weekday.Wednesday}"></span></th>
            <th scope="col" style="width: 14%">Четверг <br><span th:text="${weekday.Thursday}"></span></th>
            <th scope="col" style="width: 14%">Пятница <br><span th:text="${weekday.Friday}"></span></th>
            <th scope="col" style="width: 14%">Суббота <br><span th:text="${weekday.Saturday}"></span></th>
            <th scope="col" style="width: 14%">Воскресенье <br><span th:text="${weekday.Sunday}"></span></th>


        </tr>

        </thead>

        <tbody>

        <tr th:each="intervalIndex : ${#numbers.sequence(0, 47)}">
            <td th:text="${intervalIndex % 2 == 0 ? intervalIndex / 2  + ':00' : ''}"></td>
                <!-- todo Доделать, что был вывод не по пол часа, а по часу  -->

            <td th:each="daySchedule : ${schedule}" >
                <!--<td>
                    <span th:if="${daySchedule[intervalIndex] != null and !#lists.isEmpty(daySchedule[intervalIndex])}">
                                <a th:each="meeting : ${daySchedule[intervalIndex]}"
                                   th:href="@{'/meeting/' + ${meeting.id}}"
                                   th:text="${meeting.id}"></a>
                            </span>-->
                    <div class="schedule_cell" th:if="${!#lists.isEmpty(daySchedule[intervalIndex])}" ><div th:each="meeting : ${daySchedule[intervalIndex]}"><a
                                                                                    th:href="@{'/meeting/' + ${meeting.id}}"
                                                                                    th:text="${meeting.room.name} + ':' + ${meeting.title}" >  </a></div>
                                                                                                    <!-- ${rooms.get(meeting.meetingroom_id)} -->
                    </div>
                    <span th:if="${#lists.isEmpty(daySchedule[intervalIndex])}"></span>
                </td>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>