<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="${weekday.startend}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
</head>
<body>
<h1 th:text="${weekday.startend}"></h1>
<a href="#" th:href="@{/}" class="button-5">Вернутся</button></a>
<div>

</div>
<div >
    <table >
        <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col">Понедельник <br><span th:text="${weekday.Monday}"></span></th>
            <th scope="col">Вторник <br><span th:text="${weekday.Tuesday}"></span></th>
            <th scope="col">Среда <br><span th:text="${weekday.Wednesday}"></span></th>
            <th scope="col">Четверг <br><span th:text="${weekday.Thursday}"></span></th>
            <th scope="col">Пятница <br><span th:text="${weekday.Friday}"></span></th>
            <th scope="col">Суббота <br><span th:text="${weekday.Saturday}"></span></th>
            <th scope="col">Воскресенье <br><span th:text="${weekday.Sunday}"></span></th>


        </tr>

        </thead>

        <tbody>

        <tr th:each="intervalIndex : ${#numbers.sequence(0, 47)}">
            <td th:text="${(intervalIndex / 2)} + ':' + (${intervalIndex % 2 == 0} ? '00' : '30')"></td>


            <td th:each="daySchedule : ${schedule}">
                <!--<td>
                    <span th:if="${daySchedule[intervalIndex] != null and !#lists.isEmpty(daySchedule[intervalIndex])}">
                                <a th:each="meeting : ${daySchedule[intervalIndex]}"
                                   th:href="@{'/meeting/' + ${meeting.id}}"
                                   th:text="${meeting.id}"></a>
                            </span>-->
                    <span th:if="${!#lists.isEmpty(daySchedule[intervalIndex])}"><a th:each="meeting : ${daySchedule[intervalIndex]}"
                                                                                    th:href="@{'/meeting/' + ${meeting.id}}"
                                                                                    th:text="${meeting.title} + ':'" style="text-decoration: none">  </a>

                    </span>
                    <span th:if="${#lists.isEmpty(daySchedule[intervalIndex])}"></span>
                </td>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>