<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="${weekday.startend}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/week.css" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
          $("tr").each(function () {
            var mh = 0;
            $(this).find(".schedule_cell").each(function () {
              var h_block = parseInt($(this).height());
              if (h_block > mh) {
                mh = h_block;
              }
            });
            $(this).find(".schedule_cell").height(mh + 20); // +20 для отступа
          });
        });
    </script>
</head>
<body>
<h1 th:text="${weekday.startend}"></h1>
<a href="#" th:href="@{/}" class="button-5">Назад</button></a>
<form class="back_col_class" method="post">
    <input  type="date" name="date" class="button-6">
    <button type="submit" class="button-6">Перейти</button>
</form>
<a href="#" th:href="@{/meeting/}" class="button-5">Создать встречу</button></a>
<div>
    <a href="#" th:href="@{|/week/${weeknumber - 1}|}" class="button-5">←Назад</button></a>
    <a href="#" th:href="@{|/week/${weeknumber + 1}|}" class="button-5">Вперед→</button></a>
</div>
<div >
    <table >
        <thead>
        <tr>
            <th scope="col" style="width: 2%"> </th>
            <th scope="col" style="width: 14%">Понедельник <br><span th:text="${weekday.Monday}"></span></th>
            <th scope="col" style="width: 14%">Вторник <br><span th:text="${weekday.Tuesday}"></span></th>
            <th scope="col" style="width: 14%">Среда <br><span th:text="${weekday.Wednesday}"></span></th>
            <th scope="col" style="width: 14%">Четверг <br><span th:text="${weekday.Thursday}"></span></th>
            <th scope="col" style="width: 14%">Пятница <br><span th:text="${weekday.Friday}"></span></th>
            <th scope="col" style="width: 14%">Суббота <br><span th:text="${weekday.Saturday}"></span></th>
            <th scope="col" style="width: 14%">Воскресенье <br><span th:text="${weekday.Sunday}"></span></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="intervalIndex : ${#numbers.sequence(0, 47)}">
            <td th:text="${intervalIndex % 2 == 0 ? intervalIndex / 2  + ':00' : ''}" style="vertical-align: top;"></td>
            <td th:each="daySchedule : ${schedule}"
                th:attr="style=${intervalIndex > 0 and daySchedule[intervalIndex] == daySchedule[intervalIndex-1]} ? 'padding-top: 0px; padding-bottom: 0px;' : 'padding-bottom: 0px; padding-top: 4px;'"
            >
                    <div class="schedule_cell" th:if="${!#lists.isEmpty(daySchedule[intervalIndex])}" ><div th:each="meeting : ${daySchedule[intervalIndex]}"><a
                                                                                    th:href="@{'/meeting/' + ${meeting.id}}"
                                                                                    th:text="${meeting.room.name} + ':' + ${meeting.title}" >  </a></div>
                    </div>
                    <span th:if="${#lists.isEmpty(daySchedule[intervalIndex])}"></span>
                </td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>